@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary-orange: #e67e22;
  --color-nav-bg: #0b0e14;
  --color-hero-bg: #f8f9fa;
}

body {
  font-family: "Roboto", sans-serif;
  @apply antialiased text-[#0b0e14];
}
